@{

}
@model PostEditViewModel 
<div class="box-header position-relative table-header mt-2">
    <div class="d-flex justify-content-between mt-3 com-header">
        <h3>Add new course</h3>
    </div>
</div>
<form asp-controller="home" asp-action="edit" method="post" >
        <input type="hidden" asp-for=Id value="@Model.Id" />

        <input asp-for=Time type="hidden" value="@Model.Time" />

        <input asp-for="Image" type="file" value="@Model.Image" />

    <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
        <label asp-for="Title">Title</label>
        <input asp-for=Title type="text" value="@Model.Title" class="form-control" id="title" placeholder="Service title">
    </div>

    <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
        <label asp-for="Comment">Comment</label>
        <textarea asp-for=Comment  class="form-control" id="description" placeholder="About staff" rows="12">@Model.Comment</textarea>
    </div>

    <div class="form-group" style="font-size: 18px;">
        <label asp-for="NewImage">New image for Post</label>
        <h6 style="color:red; font-family:sans-serif;">If you want change product image select new image <br /> or Do not touch the new image if you do not want to</h6>
        <div class="input-group mx-4">
            <input value="@Model.NewImage" type="file" asp-for="NewImage" accept="image/*" class="form-control" id="inputGroupFile02">
        </div>
    </div>
    <div class="button-group">

        <button type="submit" class="btn btn-success me-5" style=" width:200px; ">
            Save
        </button>

        <a asp-controller="home" asp-action="index">
            <span class="btn btn-info">Cancel</span>
        </a>
    </div>
</form>
